@model GeneralPolls.Core.DTOs.PollsViewModel;

<form asp-action="CreatePoll" asp-controller="GeneralPolls">
    <label for="electionName"> Name of This Election </label>
    <input asp-for="ElectionName" type="text" id="electionName"/>

    <label for="candidateCount" > Number of Candidates </label>
    <input asp-for="CandidateCount" type="number" min="2" id="candidateCount"/>

    <input value="Create" type="submit"/>
</form>