@model List<GeneralPolls.Core.DTOs.PollsViewModel>;

<p>List of Currently Running Elections:</p>
@{
    foreach(var i in Model)
    {
        
        <a asp-route-id="@i.Id" asp-action="ViewPoll" asp-controller="GeneralPolls"> @i.ElectionName </a>
    }
}

<button>
    <a asp-action="CreatePoll" asp-controller="GeneralPolls">Create New Poll</a>
</button>