Thank you for using our application. This is just a prototype, which is incomplete, here are some updates to be expected:
<li>
    <ul> A duration for the each election where the candidate with the highest number of votes would be the winner</ul>
    <ul>An affliation identifier and an option to make your poll public or only accessible to users affiliated with you and your election</ul>
    <ul> A search bar</ul>
    <ul>A proper index page showing taglines, a welcome message, a brief overview of the application,...etc</ul>
    <ul>A "contact me" page where emails can be sent to me if there are bugs or recommendations</ul>
</li>
<a asp-action="PollsPage" asp-controller="GeneralPolls"> Back to Polls</a>