<h1>@ViewData["Title"]</h1>

<div>
    <form asp-controller="Authentication" asp-action="ConfirmEmail" method="post">
        <input type="hidden" value="true" >
        <input type="submit">
    </form>
</div>